<h4>Formularios <small>template</small></h4>
<hr>
<form [ngClass]="{'was-validated': forma.dirty }" (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8" [ngClass]="{ 'text-danger': !nombre.valid && nombre.dirty , 'text-success': nombre.valid && nombre.dirty }">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)] = "usuario.nombre"
               minlength="5"
               required
               #nombre="ngModel">
      </div>
    </div>

    <!--<div class="invalid-feedback">-->
      <div *ngIf="nombre.errors?.required && nombre.dirty"
            class="text-danger">
        Este campo es requerido
      </div>

      <div *ngIf="nombre.errors?.minlength && nombre.dirty"
            class="text-danger">
        Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
      </div>
    <!--</div>-->

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8" [ngClass]="{ 'text-danger': !apellido.valid && apellido.dirty , 'text-success': apellido.valid && apellido.dirty }">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)] = "usuario.apellido"
               required
               #apellido="ngModel" >
      </div>
    </div>

    <div *ngIf="apellido.errors?.required && apellido.dirty"
          class="text-danger">
      Este campo es requerido
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8" [ngClass]="{ 'text-danger': !correo.valid && correo.dirty , 'text-success': correo.valid && correo.dirty }">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)] = "usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel" >
    </div>
  </div>

  <div *ngIf="correo.errors?.required && correo.dirty"
        class="text-danger">
    Este campo es requerido
  </div>

  <div *ngIf="correo.errors?.pattern && correo.dirty"
        class="text-danger">
    El campo no tiene formato de correo
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled] = "!forma.valid"
              type="submit"
              class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
